#game {
    width: 1280px;
    height: 720px;
    margin:auto;
    position: relative;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
    background-color: #222;
}